.wrapper {
    // display: flex;
    height: calc(100vh - var(--default-layout-header-height));
    position: fixed;
    top: var(--default-layout-header-height);
    flex-direction: column;
    overflow-y: overlay;
    z-index: 1;
    background-color: var(--white);
}

.wrapper,
.user-box {
    width: var(--default-sidebar-width);
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    // background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 8px;
    padding-top: 8px;
    margin-top: -3px;
    box-sizing: border-box;
    min-height: 100px;
    max-height: min((100vh - 96px) - 60px, 734px);
    overflow: hidden auto;
}

.user-more {
    color: var(--primary);
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 8px;
    padding-left: 8px;
    cursor: pointer;
}

//Css discover
.discover {
    display: flex;
    width: fit-content;
    max-width: 100%;
    min-height: fit-content;
    height: 24px;
    margin-bottom: 12px;
    border-radius: 12px;
    // transition: background 200ms ease-in-out 0s;
    margin-right: 8px;
    padding: 3px 10px;
    font-size: 1.4rem;
}

.discover + .discover {
    margin-left: 0;
}

.item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset;
}

.link {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ccc;
    display: inline-block;
    margin-right: 6px;
    line-height: 1.7rem;
}

.link:hover {
    text-decoration: underline;
}
//Css scroll

.wrapper::-webkit-scrollbar {
    width: 0px;
    transition: width ease-in-out 1s;
}

.wrapper:hover::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(217, 217, 217, 0.5);
    border-radius: 10px;
}
