.wrapper {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    min-width: 100px;
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 700;
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid rgba(22, 24, 35, 0.12);
    line-height: 22px;
    font-weight: 600px;
    user-select: none;
    + .wrapper {
        margin-left: 16px;
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    &.disabled {
        cursor: not-allowed;
    }
}

//Button distance
.distance {
    margin-right: 16px;
}

//Button types

.outline {
    color: var(--primary);
    border-color: currentColor;
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.rounded {
    border-radius: 52px;
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.75);
    min-width: 90px;
    height: 32px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
            #fe2c55;
    }
}

.account {
    border: none;
    height: 32px;
    padding: 3px 3px 0;
    min-width: 32px;
    &:hover {
        background-color: transparent;
    }
}
// Button sizes
.large {
    min-width: 168px;
    min-height: 48px;
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-top: 20px;
    width: 100%;
}

.medium {
    font-weight: 700;
    min-width: 100px;
    min-height: 36px;
}

.small {
    min-height: 28px;
    min-width: 88px;
    padding: 0 10px;
}

// Css for icon
.icon {
    width: 18px;
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}
