.wrapper {
    display: flex;
    flex-direction: row;
    max-width: 692px;
    align-items: flex-start;
    padding: 20px 0;
}

.box-user {
    margin-top: 22px !important;
    margin-left: -67px;
}

//Css avatar img
.avatar-ct {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
}

//css mô tả video
.main {
    margin-left: 12px;
    width: 624px;
    -webkit-flex: 1 1 624px;
    -ms-flex: 1 1 624px;
    flex: 1 1 624px;
    position: relative;
}

.wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.3px;
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    background: rgba(22, 24, 35, 0.2);
}

// Css mô tả

.info {
    margin-right: 114px;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nickname {
    font-size: 1.8rem;
    font-weight: 700;
    margin-right: 4px;
}

.fullname {
    font-size: 1.4rem;
}

.follow-btn {
    font-size: 1.6rem;
    position: absolute;
    right: 0;
    top: 28px;
}

.decs {
    font-size: 1.6rem;
}

.music a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
}

.music-icon {
    margin-right: 5px;
}

//Css phần video và btn
.media {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
//Css video
.media-content {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    color: var(--white);
    margin-right: 20px;
    height: calc(450px + (100vw - 768px) / 1152 * 100);
}

.media-content:hover .video-play {
    opacity: 1;
}

.media-content:hover .report {
    opacity: 1;
}
.media-content:hover .volume {
    opacity: 1;
}

.video {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.video-tag {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.report {
    position: absolute;
    top: 24px;
    right: 16px;
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    opacity: 0;
}

.report-icon {
    width: 16px;
    height: 14px;
    margin-right: 4px;
}

.video-play {
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
    position: absolute;
    left: 12px;
    bottom: 26px;
    opacity: 0;
}

.volume {
    width: 40px;
    height: 40px;
    padding: 10px;
    transition: opacity 0.3s;
    position: absolute;
    right: 12px;
    bottom: 26px;
    opacity: 0;
}

.volume-icon {
    color: var(--white);
    background-color: transparent;
}

.volume-box {
}

//Css control volume
.volume-change {
    --bottom: 4px;
    --width-volume: 24px;
    --width-input: 2px;
    --height-input: 50px;
    --width-circle: 12px;
    --width-volume-bar: 4px;
    width: var(--width-volume);
    height: 64px;
    margin: 8px 7px 0px;
    display: block;
    position: relative;
    cursor: initial;
    background: rgba(22, 24, 35, 0.34);
    border-radius: 32px;
}

.volume-input {
    -webkit-appearance: none;
    position: absolute;
    bottom: var(--bottom);
    left: calc(var(--width-volume) / 2 - var(--width-input) / 2);
    width: var(--height-input);
    height: var(--width-input);
    background: #ccc;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    z-index: 1;
}

.volume-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--width-circle);
    height: var(--width-circle);
    border-radius: 50%;
    background-color: var(--white);
    cursor: pointer;
}

.volume-bar {
    -webkit-appearance: none;
    width: var(--width-volume-bar);
    height: calc(var(--height-input) - var(--width-circle) / 2);
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: calc(var(--width-volume) / 2 - var(--width-volume-bar) / 2 + 0.5px);
    bottom: calc(var(--bottom) + 2px);
    cursor: pointer;
    transform: scaleY(1);
    transform-origin: center bottom;
    border-radius: 10px;
    z-index: 2;
}

//Css action
.media-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.action {
    background-color: var(--white);
}

.action-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transition: all ease-in-out 200ms;
    background-color: rgba(22, 24, 35, 0.06);
    margin-top: 8px;
    margin-bottom: 6px;
}

.action-icon.active {
    color: var(--primary);
}

.action-icon-i {
    width: 24px;
    height: 24px;
}
