// Menu
.menu-items {
    width: 232px;
    .menu-list {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 0 !important;
        border: none !important;
        padding: 10px 16px;
        width: 100%;
        font-weight: 500;
    }
    .menu-list.separate {
        border-top: 1px solid #ccc !important;
    }
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--header-menu-height);
    background: var(--white);
    margin-top: -8px;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header + .menu-children {
    margin-top: calc(var(--header-menu-height) - 10px);
}

//Css arrow
.arrow,
.arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

.arrow.top::before {
    top: -11px;
}
.arrow.bottom::before {
    bottom: 0px;
}

.arrow {
    visibility: hidden;
}

.arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}
