// Menu
.menu-items {
    width: 232px;
    .menu-list {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 0 !important;
        border: none !important;
        padding: 10px 16px;
        width: 100%;
        font-weight: 500;
    }
    .menu-list.separate {
        border-top: 1px solid #ccc !important;
    }
}

.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
}
.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
