.wrapper {
    --border-radius: 92px;
    --search-height: 46px;
    --search-btn-width: 52px;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-content-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo {
    display: flex;
}

// css search

//Actions
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 1.6rem;
    margin-left: 18px;
    background-color: transparent;
    padding: 4px 15px 4px 0;
    cursor: pointer;
}

.actions-btn {
    font-size: 0rem;
    color: #161823;
    background-color: transparent;
    padding: 0px 12px;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
