.wrapper {
    --border-radius: 92px;
    --search-height: 46px;
    --search-btn-width: 52px;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-content-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo {
    display: flex;
}

.search {
    height: var(--search-height);
    background: rgba(22, 24, 35, 0.06);
    border-radius: var(--border-radius);
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
    border: 1.5px solid rgba(22, 24, 35, 0);
    position: relative;
    input {
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        background: rgba(22, 24, 35, 0);
        flex: 1;
        padding-right: 2rem + 1.2rem;
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search,
.search-results {
    width: 361px;
}

.search-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.clear-btn,
.loading {
    position: absolute;
    right: calc(var(--search-btn-width) + 10px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    font-size: 1.2rem;
}

.search-btn {
    width: var(--search-btn-width);
    height: 100%;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    cursor: pointer;
    position: relative;
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &::after {
        content: '';
        display: block;
        background-color: #d7d7d9;
        width: 1px;
        height: calc(var(--search-height) * 0.7);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background: rgba(22, 24, 35, 0.06);
    }
}
//Actions
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 1.6rem;
    margin-left: 18px;
    background-color: transparent;
    padding: 4px 15px 4px 0;
    cursor: pointer;
}

.actions-btn {
    font-size: 0rem;
    color: #161823;
    background-color: transparent;
    padding: 0px 12px;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
