.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container {
    width: var(--default-layout-content-width);
    display: flex;
    flex-direction: row;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.content {
    flex: 1;
}
